@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    font-family: 'VCR OSD Mono', sans-serif;
    color: white
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(./splashbanner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
